
.nav-profile-img {
  .avatar-img-chu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    width: 40px;
    height: 40px;
    position: relative;
    right: 2px;
    bottom: 9px;
    background-color: #fff200;
    border: 2px solid #ffffff; 
    border-radius: 50%;

  }
}